.login-form-container {
    text-align: center;
    user-select: none;
}

.login-form-container div {
    margin-bottom: 1em;
}

#login-btn {
    margin: 1em 0;
}

.google_logo {
    margin-right: 1em;
    height: 2em;
}