.not-found-page {
    text-align: center;
    margin: .5em;
    color: hsl(180, 24%, 17%);
    font-size: 1em;
    font-weight: bold;
    user-select: none;
}

.not-found-page a {
    margin-top: 2em;
    font-size: large;
}

.code-404 {
    font-size: 15em;
    font-weight: bold;
}