.header-logo {
    height: 40px;
    margin-right: 1em;
}

.header {
    background-color: #35393e !important;
}

.menu-container {
    flex-grow: 1;
}

.menu-item-link {
    color: inherit;
    text-decoration: inherit;
}

.menu-container a {
    margin: 5px;
}
